<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BASIC INFORMATION</title>
  </head>
  <body>
    <h1>BROWSING HUMAN AND VERTEBRATES GENOMES</h1>
    <h2>Simple information</h2>
    <p>1) List of species in the genome database:</p>
    <br>
    <form action = "listSpecies" method="get">
      Limit: <input type="text" name="limit">
        <br>
        <input type="submit" value="SEND">
    </form>
    <br>
    <p>2) Obtain the information about the Karyotype:</p>
    <br>
    <form action ="Karyotype" method = "get">
      Select the specie: <input type="text" name = "specie">
      <br>
      <input type="submit" value="SEND">

    </form>
    <hr>
    <p>3) Obtain the length of the chromosome</p>
    <br>
    <form action ="chromosomeLength" method = "get">
      Select the specie: <input type="text" name = "specie">
      <br>
      Select the chromosome: <input type="text" name = "chromo">
      <br>
      <input type="submit" value="SEND">
    </form>
    <hr>
    <form action ="geneSeq" method="get">
       3) Select the gene you want <input type="submit" value="GEN">
      <br>
       <select name="gene">
         {% for gene in context.gene_list %}
          <option value = "{{gene}}">{{gene}}</option>
         {% endfor %}
       </select>
     </form>
    <hr>
    <form action = "geneInfo" method="get">
      4) Obtain information about a human gene: start, end, Length, id and Chromosome name <input type="submit" value="GEN">
    <br>
      <select name = "gene">
         {% for gene in context.gene_list %}
          <option value = "{{gene}}">{{gene}}</option>
         {% endfor %}
      </select>
    </form>
    <hr>
    <form action = "geneCalc" method="get">
      5) Perform some calulcations on the human gene: length, basis percentage <input type="submit" value="GEN">
    <br>
      <select name = "gene">
         {% for gene in context.gene_list %}
          <option value = "{{gene}}">{{gene}}</option>
         {% endfor %}
      </select>
    </form>

    <hr>
  </body>
</html>